body {
    background: lightyellow
    font: 18px Arial, sans-serif;
}

h1 {
    color:orange;
}

#container {
    height: 400px;
    width: 400px;
    position: relative;
}
#image {
    position: absolute;
    left: 0;
    top: 0;
}
#text {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    left: 250px;
    top: 380px;
}
.img-container {
    float: left;
    width: 33.33%
    padding: 5px;
}
.rounded-image img {
    border-radius: 50%
}